<a class="mdl-navigation__link" href="/admin/dashboard"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">dashboard</i>Dashboard</a>
<a class="mdl-navigation__link" href="/admin/sections"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">school</i>Sections</a>
<a class="mdl-navigation__link" href="/admin/exam"><i class="mdl-color-text--blue-grey-400 material-icons">collections_bookmark</i>Exams</a>
<div class="mdl-layout-spacer"></div>
<div class="mdl-navigation__link"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></div>
