{% if currentUser.IsGlobalAdmin %}
<a href="/admin/dashboard" class="mdl-menu__item"><i class="material-icons">dashboard</i> Admin Dashboard</a>
{% endif %}
<a href="/logout" class="mdl-menu__item"><i class="material-icons">https</i> Logout</a>